*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 

body{
	background-color: lightgreen;
	font-family: 'Roboto', Helvetica, sans-serif;
}

.wow{
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-flow: column;
}

header {
	display:flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	color: white;
	margin-bottom: 15px;
	background: green;
	border-bottom-left-radius: 15px;
	width: 107%;
	
	border-bottom-right-radius: 15px;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.21);

}

.lists{
	display: flex;
	flex: 1;
	width: 100%;
}

.lists .list1{
	display: flex;
	flex-flow: column;
	flex: 1;

	width: 100%;
	min-width: 258px;
	max-width: 350px;
	min-height: 150px;

	background-color: rgba(0,0,0, 0.22);
	margin: 0 15px;
	padding: 8px;
	transition: all 0.25s linear;
	border-radius: 15px;
	box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.11);
}

.lists .list1 .listitems{
	background-color: white;
	border-radius: 21px;
	padding: 15px 20px;
	text-align: center;
	margin: 4px 0px;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.21);
	justify-content: center;
}

.creator{
	display:flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	font-family: intro inline;
	border-top: 12px double green;
	width: 107%;
}

span{
	opacity: 0.01;
}

img{
	width: 37px;
	height: 37px;
	margin-right: 10px;
	}

#beforeo::after{
	display: flex;
	content: ' '
}
.days{
	color: white;
	justify-content: center;
	align-content: center;
	margin-left: 71px;
	padding: 10px;
	font-weight: 400;
	font-family: intro;
}

hr{

	margin: 5px;
	border-top: 0.8px solid white;
	
}

